[submodule "apps/contract/lib/forge-std"]
	path = apps/contract/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "apps/contract/lib/openzeppelin-contracts"]
	path = apps/contract/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "apps/contract/lib/foundry-devops"]
	path = apps/contract/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "apps/contract/lib/chainlink-brownie-contracts"]
	path = apps/contract/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "apps/contract/lib/v3-periphery"]
	path = apps/contract/lib/v3-periphery
	url = https://github.com/Uniswap/v3-periphery
[submodule "apps/contract/lib/@uniswap/v3-core"]
	path = apps/contract/lib/@uniswap/v3-core
	url = https://github.com/Uniswap/v3-core
